<h1><a ng-href="{{ vm.stock.StockUrl }}" target= "blank">{{ vm.stock.Symbol }}</a> {{ vm.stock.Name }}</h1>
<h2>Last Sale: {{ vm.stock.LastSale }}</h2>
<h2>Sector: {{ vm.stock.Sector }}</h2>

<h3>Comments</h3>

<ul>
  <li ng-repeat="comment in vm.comments">  <!--{{ comment.username }} says:-->
    
{{ comment.comment }}</li>
</ul>


<div ng-if="vm.isLoggedIn()">
  <form name="vm.commentForm" ng-submit="vm.addComment()">
   
    Your comment: <textarea name="comment" required ng-model="vm.comment"></textarea>
    <div ng-show="vm.commentForm.comment.$dirty && vm.isSubmitted">
      <p>Please add a comment</p>
    </div>

    <button type="submit" class="btn" name="Add comment">Add comment</button>
  </form>
</div>