<h1>Search {{vm.title}}</h1>
<form id = "search" ng-submit="vm.symbolSearch()">
    <label>Search by Symbol:</label>
    <input type="text" ng-model="vm.symbol"/>
    

<p>{{vm.stock.Name}}</p>  
  

    
<!--{{ search.search }} | posted: {{ search.createdOn }}-->


<!--<div>-->
<!--  <form name="vm.searchForm" ng-submit="vm.addSearch()">-->
   
<!--    Search stock Symbols: <input type="text" name="search" required ng-model="vm.search">-->
    <!--<div ng-show="vm.searchForm.search.$dirty && vm.isSubmitted">-->
    <!--  <p>Enter a symbol</p>-->
    

    <button type="submit" class="btn" name="search-symbol">Search</button>
  </form>


<mnSearch></mnSearch>


<!--<ul>-->
<!--    <li ng-repeat="stock in vm.stocks | filter: search | orderBy: 'Symbol'"><a ng-href="#!/stock/{{stock._id}}">{{ stock.Symbol}} | {{ stock.Name }}</a></li>-->
<!--</ul>-->

<!--<ul>-->
<!--    <li ng-repeat="stock in vm.stocks"><a ng-href="#!/stock/{{stock._id}}">{{ stock.Symbol}} | {{ stock.Name }}</a></li>-->
<!--</ul>-->