<table ts-wrapper>
  <p>Click on a heading to sort</p>
  <thead>
    <tr>
      <th ts-criteria="Symbol" ts-default>Symbol</th>
      <th ts-criteria="Name">Company</th>
      <th ts-criteria="Industry">Industry</th>
      <th ts-criteria="Sector">Sector</th>
      <th ts-criteria="LastSale | parseFloat">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="stock in vm.stocks" ts-repeat>
      <td><a ng-href="#!/stock/{{stock._id}}">{{stock.Symbol}}</a></td>
      <td>{{stock.Name}}</td>
      <td>{{stock.Industry}}</td>
      <td>{{stock.Sector}}</td>
      <td>{{stock.LastSale | currency }}</td>
    </tr>
  </tbody>
</table>



 <hr />
 <table>
    <tr ng-repeat="stock in vm.stocks |orderBy:orderByField:reverseSort">
        <td><a ng-href="#!/stock/{{stock._id}}">{{ stock.Symbol }}</a></td>
        <td>{{ stock.Name }}</td>
        <td>{{ stock.Sector }}</td>
    </tr>
    </tbody>
</table>
 
